*.tmp

.idea/*
/other/sql_dumps/*
/hostingData
/server/config.*.js
/client/config.*.js
!/client/config.TRI_BASE_CONFIG_NAME.tri-base.js
!/server/config.TRI_BASE_CONFIG_NAME.tri-base.js
/server/ssl/*
/keys/*.key
/keys/*.pem
/server/*.log
/server/logs/*.log
/db/*
!/db/.gitkeep


/public/js/MainClientCode.js
/server/components/generated/*
/server/node_modules/*
/server/package-lock.json
/server/core/generated.js

public/js/client.source.js
