*.tmp

.idea/*
/other/sql_dumps/*
/hostingData
/server/config.*.js
/client/config.*.js
!/client/config.ENV_NAME.tri-base.js
!/server/config.ENV_NAME.tri-base.js
/server/ssl/*
/server/*.log
/server/logs/*.log


/public/js/MainClientCode.js
/server/components/generated/*
/server/node_modules/*
/server/package-lock.json
/server/core/generated.js

